body {
	 margin: 0;
	 font-family: 'Roboto Mono', monospace;
	 color: white;
	 background: #202731;
	 overflow-x: hidden;
}
header {
	 padding-bottom: 200px;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-image: url('top-peaks.svg');
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
header >
nav >
ul {
	 display: flex;
	 flex-direction: row;
	 list-style: none;
}
header >
nav >
ul >
li {
	 padding: 1rem 4rem;
}
header >
nav >
ul >
li >
a {
	 text-decoration: none;
	 color: white;
	 font-weight: bold;
	 font-size: 1.15rem;
}
header >
nav >
ul >
li >
a:hover {
	 text-decoration: underline;
}
section {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 min-height: 400px;
	 padding: 100px 20vw;
}
footer {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 0 20vw;
}
.blue {
	 background: #3c31dd;
}
.red {
	 background: #dd3f31;
}
.pink {
	 background: #f06;
}
.dark {
	 background: #0f0f10;
}
